* { background-color: #f7dac6;}

*{margin: 0;
    padding: 0;
box-sizing: border-box;
}
    html,body{
        width: 100%;
        height: 100%;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
 h1 {font-family: 'Dancing Script', cursive;
 color:#4eb3c7;
 font-size: 45px;
 margin-left: 30px;
 margin-bottom: 30px;
 font-weight: bold;
  }
    
header nav{ display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    flex-wrap: wrap;
}

header nav ul li{
    display: inline-block;
    list-style-type: none;
    margin:10px 10px;
    }

header nav ul li a{ color: #b3afad;
    font-size: 17px;
    text-decoration: none;
    margin: 10px 5px;
    
}
header nav ul li a:hover{
    color: #2e2d2d}
    
    h2{
        font-size: 50px;
        font-family: 'Dancing Script', cursive;
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
    }
  
       .visita{
            text-align: center;
         }

    .visita a{
        display: inline-block;
        text-decoration: none;
       background-color:#d4723d;
       font-weight: normal;
       height: 40px;
       width: 150px;
       border-radius: 3px;
       margin-bottom: 50px;
       font-size: 30px;
      color: aliceblue;
       font-weight: bold;
    
    }

    article p{
        display: flex;
        justify-content: flex-start;
        width: 600px;
        height: auto;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 50px;
        margin-bottom: 50px;
    }
article{
    display: flex;
    flex-direction: row;
    }

article img{
    display: flex;
    justify-content: flex-start;
    width: auto;  
    height: 300px;
    margin-left: 95px;
    flex-wrap: wrap
}
  
    .imagen img{
        display: inline-block;
        width: 350px;
       height: auto;
       margin: 20px 30px;
       
    }
    

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        }
            
    .google{
        display: flex;
        justify-content: center;
        margin-right: 15px;
    }
    


    section .direccion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 95px;
        margin-top: 25px;
        
    }


    .datos p{
        display: flex;
       font-size: 20px;
        color: #4f4037;
        background-color: #fad3bb;
        height: 200px;
        width: auto;
        align-items: center;
        align-content: center;
        line-height: 1.8;
        margin-top: 30px;
        border-radius: 10px;
    }

    footer{
        background-color: #f8c5a5;
        height: 80px;
        width: auto;
        margin-top: 10px;
        text-align: center;
    
    }
    @media (max-width: 1150px)
{
    h1{
        display: flex;
        flex-direction: column;
     }

  h2{
        display: flex;
        text-align: start; 
       
    }
    .visita{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
     nav ul {
    display: flex;
      flex-direction: column;  
      justify-content: flex-start;   
         }
    
    section .direccion{
        display: flex;
        flex-direction: column;
        }

        iframe{
            width: auto;
            height: auto;
        }

  .imagen{
    display: flex;
    flex-direction:row;
    width: auto;
    height: auto;
    flex-wrap:wrap;
    
  }  
  
 article,p{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-weight: bold;
  
  }
  article img{
    display: none;
  }      
}

           


    