* { background-image:linear-gradient( to bottom,#f7dac6, #f0c5eb );
}

*{margin: 0;
    padding: 0;}
    html,body{
        width: 100%;
        height: 100%;
    }

    header{margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
 h1 {font-family: 'Dancing Script', cursive;
 color:#4eb3c7;
 font-size: 45px;
 margin-left: 30px;
 margin-bottom: 30px;
 font-weight: bold;
  }
    
header nav{ display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin: 0;
    padding: 0;
    
}

header nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
    width: auto;
    height: 15px;
    padding: 0;
    }

header nav ul li a{ color: #817c7a;
    font-size: 17px;
    text-decoration: none;
    margin: 10px 5px;
    
}
header nav ul li a:hover{
    color: #5a5555}

    .formularios{
        display: flex;
        flex-direction: row;
    justify-content: space-around;
    
    }
    .datos{
    font-size: 18px;  
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;     
    }
    .datos input{
        width: auto;
        height: 36px;
        background-color:  #e6dede;
        color: rgb(43, 46, 48);
        font-size: 15px;
        margin: 10PX;
        font-family: Arial, Helvetica, sans-serif;
    }

    .horario{
        font-size: 19px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .horario input{
        margin-top: 5px;
    }
    
.tipo{;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
   

    .cuadro{
        font-size: 20px;
        font-weight: bold;
    }

    .cuadro textarea{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .boton input{ margin: 15px;
        height: 40px;
        width: auto;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .boton{
        text-align: center;
    }
    
    footer{
        background-color: #f8c5a5;
        height: 80px;
        width: auto;
        margin-top: 10px;
        text-align: center;
    }
   
    @media (max-width: 850px)
{
    h1{
        display: flex;
        flex-direction: column;
    
    }
     nav ul {
        display: flex;
      flex-direction: column;
         flex-wrap: nowrap;  }
         
         .formularios{
            display: flex;
            flex-direction: column;}

            .horario{ display: flex;
                justify-content: center;   
            }
            .cuadro{
                    display: flex;
                    flex-direction: column;
            }
            }