body {
    background-image: linear-gradient(
      20deg,
      hsl(24deg 71% 67%) 0%,
      hsl(24deg 70% 70%) 5%,
      hsl(25deg 68% 73%) 12%,
      hsl(25deg 66% 75%) 21%,
      hsl(25deg 62% 78%) 37%,
      hsl(25deg 58% 81%) 65%,
      hsl(24deg 70% 78%) 78%,
      hsl(24deg 80% 76%) 86%,
      hsl(23deg 88% 74%) 91%,
      hsl(21deg 94% 72%) 96%,
      hsl(20deg 100% 71%) 100%
    );
}

/*-----------------------------NAVBAR--------------------------*/

.navbar {
    background-image: linear-gradient(
      35deg,
      hsl(25deg 63% 71%) 0%,
      hsl(25deg 67% 67%) 3%,
      hsl(25deg 70% 64%) 7%,
      hsl(24deg 72% 61%) 11%,
      hsl(24deg 73% 60%) 15%,
      hsl(24deg 74% 67%) 19%,
      hsl(24deg 74% 73%) 50%,
      hsl(24deg 72% 80%) 63%,
      hsl(24deg 73% 78%) 74%,
      hsl(24deg 74% 73%) 83%,
      hsl(24deg 74% 67%) 92%,
      hsl(25deg 73% 62%) 100%
    );
    height: 90px;
  }
  .navbar-nav {
    margin-top: 10px;
    margin-left: 550px;  
    column-gap: 30px;
    
  
  } 


  .fondo{
    background-image: linear-gradient(
      35deg,
      hsl(25deg 63% 71%) 0%,
      hsl(25deg 67% 67%) 3%,
      hsl(25deg 70% 64%) 7%,
      hsl(24deg 72% 61%) 11%,
      hsl(24deg 73% 60%) 15%,
      hsl(24deg 74% 67%) 19%,
      hsl(24deg 74% 73%) 50%,
      hsl(24deg 72% 80%) 63%,
      hsl(24deg 73% 78%) 74%,
      hsl(24deg 74% 73%) 83%,
      hsl(24deg 74% 67%) 92%,
      hsl(25deg 73% 62%) 100%
    );
    padding: 15px;
    
  }
  
  .nav-item a {
    font-size: 20px;
  }
  
  /*---logo---*/
  .logo__container {
    height: 70px;
    width: 70px;
    margin-top: 15px;
  }
  
  .logo__container img {
    width: 70px;
    height: 70px;
  }
  
  /*---fin del logo---*/
  
  /*------------------------------------------- FIN DE NAVBAR---------------------------*/
  
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bold;
    text-align: center;  
    margin-top: 50px; 
}

.productos{
    display: flex;
    padding:5px;
}
.column img{
    display: inline-block; 
}
img{
 width: auto;
 height: 350px;
 margin-left: 23px;
 margin-bottom: 20px;
 border-radius: 10px;
}

footer {
 height: 70px;
 width: auto;
 text-align: center;
 margin-top: 20px;
}

/* ================productos================ */
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    
    .navbar-nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      column-gap: 0;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 95%;
        height: 320px;
        margin: auto;
        margin-bottom: 10px;
    }

    .titulo{
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .titulo h2{
        text-align: center;
        font-size: 35px;
        
    }
  }
  /* Small devices (portrait tablets and large phones, 481px and 768px) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    
    .navbar-nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      column-gap: 0;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
    }
  }
  /* Medium devices (landscape tablets, 768px and 1024px) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        column-gap: 0;
      }
      .column{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
      }
      img{
          width: 45%;
          height: 300px;
          margin:auto;
          margin-bottom: 10px;
      }
      
  
  }
  /* Largue devices ( landscape desktop, 1025px and 1200px) */
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .navbar-nav {
        margin-left: 350px;
        column-gap: 20px;
      }
    .column{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }

    img{
        width: 45%;
        height: 350px;
        margin:auto;
        margin-bottom: 10px;
    }
  }
  /*---------------------------inicio css de promos----------------------------*/

.prmos-serv{
background-image: linear-gradient(
      20deg,
      hsl(24deg 71% 67%) 0%,
      hsl(24deg 70% 70%) 5%,
      hsl(25deg 68% 73%) 12%,
      hsl(25deg 66% 75%) 21%,
      hsl(25deg 62% 78%) 37%,
      hsl(25deg 58% 81%) 65%,
      hsl(24deg 70% 78%) 78%,
      hsl(24deg 80% 76%) 86%,
      hsl(23deg 88% 74%) 91%,
      hsl(21deg 94% 72%) 96%,
      hsl(20deg 100% 71%) 100%
    );
}

 .promo p{
    display: inline-block;
    text-align: center;
    width: 60%;
    font-size: 18px;
    margin-top:10px;
}
.promo{
 display: inline-block;
 text-align: center;
 width: auto;
 margin-bottom: 20px;
}
.tabla{
 display: flex;
 justify-content: center;
 width: 70%;
 margin: auto;
 margin-bottom: 30px;
}
.promo h2{
 margin-top: 20px;
 font-size: 55px;
}
th {
  background-color: #837878;
  color: #ffffff;
}
th,p{
 text-align: center;
}
  
td {
    background-color: #e6a1e6;
    font-size: 20px;
    color: #f7f7f7;
    border: 1px solid black;
}

.borde{
    border: 1px solid black;
}
 /* =========================PROMO======================= */
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
    .tabla{
     width: 95%;
     margin: auto;       
     display: block;
     overflow-x: auto;
    }
   
}
/* Small devices (portrait tablets and large phones, 481px and 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {}
    
/* Medium devices (landscape tablets, 768px and 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}
    
/* Largue devices ( landscape desktop, 1025px and 1200px) */
 @media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

/*---------------------------inicio css de promos----------------------------*/

.contacto{
    background-image: linear-gradient(
      20deg,
      hsl(24deg 71% 67%) 0%,
      hsl(24deg 70% 70%) 5%,
      hsl(25deg 68% 73%) 12%,
      hsl(25deg 66% 75%) 21%,
      hsl(25deg 62% 78%) 37%,
      hsl(25deg 58% 81%) 65%,
      hsl(24deg 70% 78%) 78%,
      hsl(24deg 80% 76%) 86%,
      hsl(23deg 88% 74%) 91%,
      hsl(21deg 94% 72%) 96%,
      hsl(20deg 100% 71%) 100%
    )
    }
    .formularios {
    display: flex;
    flex-direction: row;
    justify-content: center
    }
    .muestra{
    display: flex;
    flex-direction: column;
    }

    .muestra h2{ 
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    margin-top: 20px;
    }

    .muestra p{font-size: 25px;
    width: 80%;
    height: auto;
    margin: auto; 
    margin-top: 20px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .datos {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    height: auto;
    margin-top: 35px;
    }
    .datos input {
        width: auto;
        height: 36px;
        background-color: #e6dede;
        color: rgb(43, 46, 48);
        font-size: 15px;
        margin: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
      
    .horario {
      font-size: 18px;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .horario input {
     margin-top: 5px;
    }
      
    .tipo {
     font-size: 18px;
     font-weight: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
    }
      
    .cuadro {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;
    }
      
      .cuadro textarea {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .boton input {
        margin: 15px;
        height: 40px;
        width: auto;
        border-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
      .boton {
        display: flex;
        justify-content: center;
    }

      
    /* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

    .formularios{
        width: 500px;
        height: auto;
    }
    .horario {width: 100%;
        height: auto;
    }
        
  }
/* Small devices (portrait tablets and large phones, 481px and 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {}
    
/* Medium devices (landscape tablets, 768px and 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}
  
/* Largue devices ( landscape desktop, 1025px and 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .formularios{
        width: 500px;
        height: auto;
    }
    .horario {width: 90%;
        height: auto;
}
}