.navbar {
    background-image: var(--color);

    height: 90px;
  }
  
  .navbar-nav {
    margin-top: 10px;
    margin-left: 550px;
    column-gap: 30px;
  }
  
  .fondo {
    background-image: var(--color);
    padding: 15px;
  }
  
  .nav-item a {
    font-size: 20px;
  }
  
  /*---logo---*/
  .logo__container {
    height: 70px;
    width: 70px;
    margin-top: 15px;
  }
  .logo__container img {
    width: 70px;
    height: 70px;
  }
  
  /*---fin del logo---*/
  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }

  footer {
    height: 70px;
    width: auto;
    text-align: center;
    margin-top: 20px;
  }


  @media only screen and (max-width: 480px) {
    .navbar-nav {
        @include flex(column, center,"");
        margin-left: 0;
        column-gap: 0;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar-nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      column-gap: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      column-gap: 0;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .navbar-nav {
      margin-left: 350px;
      column-gap: 20px;
    }
}